﻿@{
    ViewBag.Title = "About";
}
@Scripts.Render("~/bundles/circle")
<div class="sign-wrap">
    <div class="sign">
        <h1 class="button-start">Start</h1>
    </div>
</div>
<div class=".container">
    <div circle-field>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</div>

<script>
        $(document).ready(function () {
            $("h1").on('click', function(event) {
                if ($("h1").hasClass("button-start")) {
                    $("h1").removeClass("button-start");
                    $("h1").addClass("button-exit");
                    $("h1").html("Exit");
                } else {
                    $("h1").removeClass("button-exit");
                    $("h1").addClass("button-start");
                    $("h1").html("Start");
                }
            });
            $('.circle').circleProgress({
                value: 1.0,
                size: 300,
                fill: {
                    gradient: ["red", "orange"]
                }
            });
        });
</script>