﻿@{
    ViewBag.Title = "Home Page";
}
<form>
<div id="room">
    <div class="jumbotron users">
        @* <canvas id="triangle" height="50" width="50">Triangle</canvas>*@
        @Html.Partial("_CarouselPartirial", "Online")
        <script>
            (function($) {
                $(function() {
                    $('.jcarousel').jcarousel();

                    $('.jcarousel-control-prev')
                        .on('jcarouselcontrol:active', function() {
                            $(this).removeClass('inactive');
                        })
                        .on('jcarouselcontrol:inactive', function() {
                            $(this).addClass('inactive');
                        })
                        .jcarouselControl({
                            target: '-=4'
                        });

                    $('.jcarousel-control-next')
                        .on('jcarouselcontrol:active', function() {
                            $(this).removeClass('inactive');
                        })
                        .on('jcarouselcontrol:inactive', function() {
                            $(this).addClass('inactive');
                        })
                        .jcarouselControl({
                            target: '+=4'
                        });

                    $('.jcarousel-pagination')
                        .on('jcarouselpagination:active', 'a', function() {
                            $(this).addClass('active');
                        })
                        .on('jcarouselpagination:inactive', 'a', function() {
                            $(this).removeClass('active');
                        })
                        .jcarouselPagination();
                });
            })(jQuery);
            (function ($) {
                $(function () {
                    $('.jcarousel .Online').jcarousel();

                    $('.jcarousel-control-prev .Online')
                        .on('jcarouselcontrol:active', function () {
                            $(this).removeClass('inactive');
                        })
                        .on('jcarouselcontrol:inactive', function () {
                            $(this).addClass('inactive');
                        })
                        .jcarouselControl({
                            target: '-=4'
                        });

                    $('.jcarousel-control-next .Online')
                        .on('jcarouselcontrol:active', function () {
                            $(this).removeClass('inactive');
                        })
                        .on('jcarouselcontrol:inactive', function () {
                            $(this).addClass('inactive');
                        })
                        .jcarouselControl({
                            target: '+=4'
                        });

                    $('.jcarousel-pagination')
                        .on('jcarouselpagination:active', 'a', function () {
                            $(this).addClass('active');
                        })
                        .on('jcarouselpagination:inactive', 'a', function () {
                            $(this).removeClass('active');
                        })
                        .jcarouselPagination();
                });
            })(jQuery);
            (function ($) {
                $(function () {
                    $('.jcarousel .Online').jcarousel();

                    $('.jcarousel-control-prev .Online')
                        .on('jcarouselcontrol:active', function () {
                            $(this).removeClass('inactive');
                        })
                        .on('jcarouselcontrol:inactive', function () {
                            $(this).addClass('inactive');
                        })
                        .jcarouselControl({
                            target: '-=4'
                        });

                    $('.jcarousel-control-next .Online')
                        .on('jcarouselcontrol:active', function () {
                            $(this).removeClass('inactive');
                        })
                        .on('jcarouselcontrol:inactive', function () {
                            $(this).addClass('inactive');
                        })
                        .jcarouselControl({
                            target: '+=4'
                        });

                    $('.jcarousel-pagination .Online')
                        .on('jcarouselpagination:active', 'a', function () {
                            $(this).addClass('active');
                        })
                        .on('jcarouselpagination:inactive', 'a', function () {
                            $(this).removeClass('active');
                        })
                        .jcarouselPagination();
                });
            })(jQuery);
            (function ($) {
                $(function () {
                    $('.jcarousel .Online').jcarousel();

                    $('.jcarousel-control-prev .2-users')
                        .on('jcarouselcontrol:active', function () {
                            $(this).removeClass('inactive');
                        })
                        .on('jcarouselcontrol:inactive', function () {
                            $(this).addClass('inactive');
                        })
                        .jcarouselControl({
                            target: '-=4'
                        });

                    $('.jcarousel-control-next .2-users')
                        .on('jcarouselcontrol:active', function () {
                            $(this).removeClass('inactive');
                        })
                        .on('jcarouselcontrol:inactive', function () {
                            $(this).addClass('inactive');
                        })
                        .jcarouselControl({
                            target: '+=4'
                        });

                    $('.jcarousel-pagination .2-users')
                        .on('jcarouselpagination:active', 'a', function () {
                            $(this).addClass('active');
                        })
                        .on('jcarouselpagination:inactive', 'a', function () {
                            $(this).removeClass('active');
                        })
                        .jcarouselPagination();
                });
            })(jQuery);
            (function ($) {
                $(function () {
                    $('.jcarousel .Online').jcarousel();

                    $('.jcarousel-control-prev .4-users')
                        .on('jcarouselcontrol:active', function () {
                            $(this).removeClass('inactive');
                        })
                        .on('jcarouselcontrol:inactive', function () {
                            $(this).addClass('inactive');
                        })
                        .jcarouselControl({
                            target: '-=4'
                        });

                    $('.jcarousel-control-next .4-users')
                        .on('jcarouselcontrol:active', function () {
                            $(this).removeClass('inactive');
                        })
                        .on('jcarouselcontrol:inactive', function () {
                            $(this).addClass('inactive');
                        })
                        .jcarouselControl({
                            target: '+=4'
                        });

                    $('.jcarousel-pagination .4-users')
                        .on('jcarouselpagination:active', 'a', function () {
                            $(this).addClass('active');
                        })
                        .on('jcarouselpagination:inactive', 'a', function () {
                            $(this).removeClass('active');
                        })
                        .jcarouselPagination();
                });
            })(jQuery);
            $(document).ready(function() {
                $('.burning').burn();
            });
        </script>
    </div>
    <div class="jumbotron rooms users-2">
        @Html.Partial("_CarouselPartirial", "2-users")
        <a href="#" class="button create-users2">Create</a>
    </div>
    <div class="jumbotron rooms users-4">
        @Html.Partial("_CarouselPartirial", "4-users")
        <a href="#" type="submit" class="button create-users4">Create</a>
    </div>
    <footer>
        <div class="navbar navbar-inverse navbar-fixed-bottom">
        </div>
    </footer>
</div>
@Html.Partial("_GameRoomPartirial")
</form>