﻿html,body {
    height: 100%;    
}

#room {
    height:100%;
}

.body-conten {
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,0));
    padding-left: 15px;
    padding-right: 15px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

figure ul {
    margin-top: 12%;
    margin-left: -7%; 
    list-style-type: none;
}
   
figure li {
    margin-top: 7%; 
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-fixed-top {
    bottom:94%
}

.navbar-nav {
    font-size: 25px;
    align-content: center;
}

.jumbotron label, .navbar-brand {
    font-size: 25px;
    top: 998%;
    font-family: 'Orbitron', sans-serif;
}

.navbar-user {
    font-size: 20px;
    margin-top: 7%;
    margin-left: 10px;
    font-family: 'Source Code Pro';
    color: lightseagreen;
    animation-name: ping;
    animation-duration: 1.0s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes ping {
  0% {
    color: cadetblue;
  }
  50% {
    color: lightseagreen;
  }
  100% {
    color: aqua;
  }
}

.navbar-right {
    font-size: 20px;
    margin-top: -0.1%;
    font-family: 'Source Code Pro';
}

.jumbotron {
    margin-left: 5%;
    margin-right: 5%;
}

.navbar-fixed-bottom {
    top: 97%;
}

#gameButton {
    background-color: red;
    margin-left: 38%;
    border-radius: 100%;
    height: 400px;
    width: 400px;
    position: relative;
    margin-top: -4%;
    text-align: center;
     background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
}

#gameButton:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2; 
}
#gameButton:after {
    content: "";
    position: absolute;
    display: none;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg); 
}
  #gameButton .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; 
  }
  #gameButton.plain {
    background: black; }
    .ball.plain:before, .ball.plain:after {
      display: none; 
    }
  #gameButton {
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(128, 255, 128, 0.9) 60%, rgba(50, 255, 80, 0.9));
    -webkit-animation: bubble-anim 2s ease-out infinite;
    animation: bubble-anim 2s ease-out infinite; 
  }
    #gameButton:before {
      -webkit-filter: blur(0);
      filter: blur(0);
      height: 80%;
      width: 40%;
      background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
    #gameButton:after {
      display: block;
      background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }
    @-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes slide {
  0% {
    top: 0;
  }
  100% {
    top: -150px;
  }
}
.stage {
  background: #eaeaed;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}

#gameButton:hover {
    color: chocolate;
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    animation-play-state: paused;
    animation: slide 2s forwards;
}


.jumbotron {
    padding: 0px;
    padding-bottom: 50px;
    height: 20%;
    vertical-align: top;
    background: -webkit-linear-gradient(63deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), -webkit-linear-gradient(-117deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), -webkit-linear-gradient(63deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), -webkit-linear-gradient(-117deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), -webkit-linear-gradient(0deg, rgb(27,27,27) 10px, rgba(0,0,0,0) 10px), -webkit-linear-gradient(-90deg, rgb(29,29,29) 25%, rgb(26,26,26) 25%, rgb(26,26,26) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgb(36,36,36) 75%, rgb(36,36,36) 100%), rgb(19,19,19);
    background: linear-gradient(27deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), linear-gradient(207deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), linear-gradient(27deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), linear-gradient(207deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), linear-gradient(90deg, rgb(27,27,27) 10px, rgba(0,0,0,0) 10px), linear-gradient(180deg, rgb(29,29,29) 25%, rgb(26,26,26) 25%, rgb(26,26,26) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgb(36,36,36) 75%, rgb(36,36,36) 100%), rgb(19,19,19);
    background-position: 0 5px, 10px 0, 0 10px, 10px 5px, 0 0, 0 0;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    color: #76deef;
    font-family: 'Source Code Pro';
    border-radius: 20px;
}

.users-2 {
    position: relative;
    height: 35%;
    
}

.users-4 {
    position: relative;
    height: 35%;
}
.checkbox label, .form-group .btn {
    margin-left:-70%; 
}

.form-group .btn {
    margin-left:-35%; 
}

.group-header{
    text-align: center;
}

.group-header div label{
    height: 5px; 
    position: relative;
    font-family: 'Source Code Pro';
    color: white;

}



.jcarousel-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width:200000em;
    position: relative;
    list-style: none;
    margin-left: 4%;
    padding: 5px;
}

.jcarousel li {
    float: left;
    margin-right: 0.01%;
    color: #76deef;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 30%;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
    display: none;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}

.jcarousel {
    margin-left: 10%;
}

#loginForm {
    position: absolute;
    margin-top: 10%;
    margin-left: 60%;
    color: lightseagreen;
    width: 500px;
    padding: 30px;
    border-radius: 10%;
    box-shadow: 5px 5px 40px rgba(0,0,0,0.8);
    background: -webkit-linear-gradient(63deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), -webkit-linear-gradient(-117deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), -webkit-linear-gradient(63deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), -webkit-linear-gradient(-117deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), -webkit-linear-gradient(0deg, rgb(27,27,27) 10px, rgba(0,0,0,0) 10px), -webkit-linear-gradient(-90deg, rgb(29,29,29) 25%, rgb(26,26,26) 25%, rgb(26,26,26) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgb(36,36,36) 75%, rgb(36,36,36) 100%), rgb(19,19,19);
    background: linear-gradient(27deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), linear-gradient(207deg, rgb(21,21,21) 5px, rgba(0,0,0,0) 5px), linear-gradient(27deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), linear-gradient(207deg, rgb(34,34,34) 5px, rgba(0,0,0,0) 5px), linear-gradient(90deg, rgb(27,27,27) 10px, rgba(0,0,0,0) 10px), linear-gradient(180deg, rgb(29,29,29) 25%, rgb(26,26,26) 25%, rgb(26,26,26) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, rgb(36,36,36) 75%, rgb(36,36,36) 100%), rgb(19,19,19);
    background-position: 0 5px, 10px 0, 0 10px, 10px 5px, 0 0, 0 0;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
}

.jcarousel li div{
    text-shadow: 1px 1px 2px green, 0 2px 10px white;
}

.circle-feild {
    height: 300px;
    display: block;
}

.container{overflow:hidden;width:200px}
.circle-feild{white-space:nowrap}
.circle{width:300px;display:inline-block;margin-top: 0;font-size: 20px; color:#81e8f6}

.roomForm {
    background-color: rgba(250,250,250,0.8);
    height: 200px;
    width: 200px;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 1px 5px yellowgreen;
    text-align: center;
    margin-top: 10px;
    vertical-align: middle;
}

.group-header{
    color: #fff;
    margin: 0;
    padding: 0;
	    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
	    letter-spacing: 5px;
	    font: 80px 'MisoRegular';
}