﻿
<div class="row group-header">
    <div class="col-md-12 burning">
        <label class="burning">@Model.ToString()</label>
    </div>
</div>
<div class="output">
    <div class="jcarousel-wrapper @Model.ToString()">
        <div class="jcarousel @Model.ToString()">
            <ul id="onlineUsersList" class="@Model.ToString()">
                <li class="jcarousel-item-1 @Model.ToString()">
                </li>

            </ul>
        </div>

        <a href="#" class="jcarousel-control-prev @Model.ToString()">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next @Model.ToString()">&rsaquo;</a>

        <p class="jcarousel-pagination @Model.ToString()">

        </p>
    </div>
</div>


