﻿<div id="game-room" style="display: none">
    @Scripts.Render("~/bundles/circle")
    <link rel="stylesheet" href="~/Content/flipclock.css">
    <div class="sign-wrap startBtn" style="display: none">
        <div class="sign">
            <h1 class="">Start</h1>
        </div>
    </div>
    <div class="sign-wrap exit">
        <div class="sign">
            <h1 class="exitBtn">Exit</h1>
        </div>
    </div>
    <div class="sign-wrap panish" style="display: none">
        <div class="sign">
            <h1 class="">Panish</h1>
        </div>
    </div>
    <div class=".container"style="margin-top: 10%; margin-bottom: 10%;">
        <div class="circle-field">
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.circle').circleProgress({
                value: 1.0,
                size: 300,
                fill: {
                    gradient: ["red", "orange"]
                }
            });
        });
    </script>
    <div class="my-clock" style="position: relative; width: 30%;margin-left: 40%;"></div>
    <script src="~/Scripts/flipclock.min.js"></script>
</div>
